@page
@model ABMVuelos.Pages.Vuelos.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar el registro</h1>

<h3>¿Está seguro que desea eliminar el siguiente vuelo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vuelo.llegada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vuelo.llegada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vuelo.Linea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vuelo.Linea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vuelo.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vuelo.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vuelo.Demorado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vuelo.Demorado)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vuelo.ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver sin eliminar</a>
    </form>
</div>
