@page
@model ABMVuelos.Pages.Vuelos.IndexModel

@{
    ViewData["Title"] = "Visor de vuelos";
}

<h1>Vuelos programados</h1>

<p>
    <a asp-page="Create">Registrar un nuevo vuelo</a>
</p>
<form>
    <p>
        Código <input type="text" asp-for="CodigoABuscar" />
        <input type="submit" value="Buscar"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vuelo[0].llegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vuelo[0].Linea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vuelo[0].Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vuelo[0].Demorado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vuelo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.llegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                <!--@Html.DisplayFor(modelItem => item.Demorado)--->
                @if (item.Demorado)
                {
                    @string.Format("Si");
                }
                else
                {
                    @string.Format("No");
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Modificar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Ver</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
