@page
@model ABMVuelos.Pages.Vuelos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vuelo[0].llegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vuelo[0].Linea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vuelo[0].Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vuelo[0].Demorado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vuelo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.llegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Demorado)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
